body {
    margin: 0;
    padding: 0;
    width: 100vw;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    --background: #101216;
    --font: #fff;

    background-color: var(--background);
    color: var(--font);
}

.ligth {
    --background: #dfe1ec;
    --font: #000;
}
