.switch {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    z-index: 0;
    margin: 15px 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--font);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 1rem;
    z-index: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: 0.05rem;
    bottom: 0.05rem;
    background-color: var(--background);
    border-radius: 50%;
    z-index: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: var(--font);
}

input:checked+.slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}
